@{
    ViewBag.Title = "FAQ";
    ViewBag.MainClass = "faq";
    ViewBag.faq = "active-link";
    if (ViewBag.valid == true)
    {
        Layout = "~/Views/Shared/Register.cshtml";
        ViewBag.valid = null;
    }
    else
    {
        Layout = "~/Views/Shared/NonRegister.cshtml";
    }
}

<!-- Top profile title -->
<div id="top-title">
    <div id="top-title-inner" class="text-center">
        <h1 id="top-title-text">Frequently Asked Questions</h1>
    </div>
</div>

<!-- FAQ section -->
<div class="faq-inner">
    <div class="container">

        <div class="row">

            <!-- FAQ Section 01 -->
            <h2 class="faq-title">General Questions</h2>

            <!-- Question1 -->
            <div class="card-header myhead1">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-10">
                        <h4 class="faq-question">What is Marketplace-Notes?</h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-2 text-right">
                        <a class="expand1" type="button">
                            <img src="~/Content/images/Front/assets/plus.png">
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body mybody1">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-10">
                        <h4 class="faq-question">What is Marketplace-Notes?</h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-2 text-right">
                        <a class="collapse1" type="button">
                            <img src="~/Content/images/Front/assets/minus.png">
                        </a>
                    </div>
                </div>
                <p class="faq-answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, corrupti itaque in porro numquam voluptate minus. Maiores harum animi amet quidem sed facere architecto! Natus expedita iure ut quasi nemo.</p>
            </div>

            <!-- Question2 -->
            <div class="card-header myhead2">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-10">
                        <h4 class="faq-question">What do the Unvidersity say?</h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-2 text-right">
                        <a class="expand2" type="button">
                            <img src="~/Content/images/Front/assets/plus.png">
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body mybody2">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-10">
                        <h4 class="faq-question">What do the Unvidersity say?</h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-2 text-right">
                        <a class="collapse2" type="button">
                            <img src="~/Content/images/Front/assets/minus.png">
                        </a>
                    </div>
                </div>
                <p class="faq-answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, corrupti itaque in porro numquam voluptate minus. Maiores harum animi amet quidem sed facere architecto! Natus expedita iure ut quasi nemo.</p>
            </div>

            <!-- Question3 -->
            <div class="card-header myhead3">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-10">
                        <h4 class="faq-question">Is this legal?</h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-2 text-right">
                        <a class="expand3" type="button">
                            <img src="~/Content/images/Front/assets/plus.png">
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body mybody3">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-10">
                        <h4 class="faq-question">Is this legal?</h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-2 text-right">
                        <a class="collapse3" type="button">
                            <img src="~/Content/images/Front/assets/minus.png">
                        </a>
                    </div>
                </div>
                <p class="faq-answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, corrupti itaque in porro numquam voluptate minus. Maiores harum animi amet quidem sed facere architecto! Natus expedita iure ut quasi nemo.</p>
            </div>

        </div>

        <div class="row">

            <!-- FAQ Section 02 -->
            <h2 class="faq-title">Uploaders</h2>

            <!-- Question4 -->
            <div class="card-header myhead4">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-10">
                        <h4 class="faq-question">What can't i sell?</h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-2 text-right">
                        <a class="expand4" type="button">
                            <img src="~/Content/images/Front/assets/plus.png">
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body mybody4">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-10">
                        <h4 class="faq-question">What can't i sell?</h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-2 text-right">
                        <a class="collapse4" type="button">
                            <img src="~/Content/images/Front/assets/minus.png">
                        </a>
                    </div>
                </div>
                <p class="faq-answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, corrupti itaque in porro numquam voluptate minus. Maiores harum animi amet quidem sed facere architecto! Natus expedita iure ut quasi nemo.</p>
            </div>

            <!-- Question5 -->
            <div class="card-header myhead5">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-10">
                        <h4 class="faq-question">What notes can i sell?</h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-2 text-right">
                        <a class="expand5" type="button">
                            <img src="~/Content/images/Front/assets/plus.png">
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body mybody5">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-10">
                        <h4 class="faq-question">What notes can i sell?</h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-2 text-right">
                        <a class="collapse5" type="button">
                            <img src="~/Content/images/Front/assets/minus.png">
                        </a>
                    </div>
                </div>
                <p class="faq-answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, corrupti itaque in porro numquam voluptate minus. Maiores harum animi amet quidem sed facere architecto! Natus expedita iure ut quasi nemo.</p>
            </div>

        </div>

        <div class="row">

            <!-- FAQ Section 03 -->
            <h2 class="faq-title">Downloaders</h2>

            <!-- Question6 -->
            <div class="card-header myhead6">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-10">
                        <h4 class="faq-question">How do i buy Notes?</h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-2 text-right">
                        <a class="expand6" type="button">
                            <img src="~/Content/images/Front/assets/plus.png">
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body mybody6">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-10">
                        <h4 class="faq-question">How do i buy Notes?</h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-2 text-right">
                        <a class="collapse6" type="button">
                            <img src="~/Content/images/Front/assets/minus.png">
                        </a>
                    </div>
                </div>
                <p class="faq-answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, corrupti itaque in porro numquam voluptate minus. Maiores harum animi amet quidem sed facere architecto! Natus expedita iure ut quasi nemo.</p>
            </div>

            <!-- Question7 -->
            <div class="card-header myhead7">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-10">
                        <h4 class="faq-question">Can i edit the notes i purchased?</h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-2 text-right">
                        <a class="expand7" type="button">
                            <img src="~/Content/images/Front/assets/plus.png">
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body mybody7">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-10">
                        <h4 class="faq-question">Can i edit the notes i purchased?</h4>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-2 text-right">
                        <a class="collapse7" type="button">
                            <img src="~/Content/images/Front/assets/minus.png">
                        </a>
                    </div>
                </div>
                <p class="faq-answer">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, corrupti itaque in porro numquam voluptate minus. Maiores harum animi amet quidem sed facere architecto! Natus expedita iure ut quasi nemo.</p>
            </div>

        </div>

    </div>
</div>