@model Notes_MarketPlace.User
@{
    ViewBag.Title = "Forgot Password?";
    Layout = "~/Views/Shared/CenterForm.cshtml";
}
<!-- forgot password form -->
<div class="container text-center">
    <div class="row">
        <div class="form-inner">
            <h2 class="title">Forgot Password?</h2>
            <h5 class="text-1">Enter your email to reset your password</h5>
            <h5 style="color:forestgreen;">@ViewBag.EmailSent</h5>
            <form method="post">
                <div class="form-group text-left">
                    <label for="input-email">Email address</label>
                    <!--<input type="email" class="form-control" id="input-email" aria-describedby="emailHelp" placeholder="Enter your email">-->
                    @Html.TextBoxFor(l => l.EmailID, new { @placeholder = "Enter your email", @class = "form-control" })
                    <h5 style="color:red;">@ViewBag.ErrorMsg</h5>
                </div>
                <button type="submit" class="btn submit-btn">Submit</button>
            </form>
        </div>
    </div>
</div>
